body{
  
    font-family: Arial, sans-serif;
    background-color: rgb(116, 116, 116);

    margin-left: 20%;
    margin-top: 50px;
    padding: 20px;
}
.block
{
    display: inline-block;
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px;
    background-color: bisque;
    box-shadow: 8px 8px 8px 8px;
    border-radius: 5px;

}
.block h2{
    text-shadow: 2px -2px 2px #fff,-2px 2px 2px #2f2f2f;
    color: bisque;
    margin-top: 0;
    margin-left: 30%;
}
.block::before{
    content: '';
    display: block;
    width: 150px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(11, 11, 11, 0.51);
    margin: -35px 0px 0px -20px;
    margin-left: 50px;
}